body {
    padding: 50px;
}
.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    border-right-color: transparent;
    animation: load 1s linear infinite;
}

@keyframes load {
    from { transform: none;}
    to { transform: rotate(360deg);}
}